@model IEnumerable<LojaVirtual.Models.ViewModel.Carrinho.CarrinhoVM>

@{
    ViewBag.Title = "Detalhes do carrinho";
    int count = 1;
}

<h2>Detalhes Carrinho</h2>

@if (ViewBag.Mensagem != null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <div class="ajaxbg"><span><img  src="~/Content/img/ajax-loader.gif"/></span></div>

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Quantidade
        </th>
        <th>
           Preco
        </th>
        <th>
           Imagem
        </th>
        <th>
           
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoNome)
        </td>
        <td class=" qtd@(item.ProdutoId)">
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            <img src="/Images/Uploads/Produto/@item.ProdutoId/Thumbs/@item.Imagem" />
        </td>

        <td>
            <a href="#" class="incrementaproduto" data-id="@item.ProdutoId">+</a>
            <a href="#" class="decrementaproduto" data-id="@item.ProdutoId">-</a>
            <a href="#" class="removeaproduto" data-id="@item.ProdutoId">Remover</a>
        </td>

        <td class="total@(item.ProdutoId)">
           $@Html.DisplayFor(modelItem => item.Total)
        </td>

    </tr>
}
       <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td class="totalgeral"><b>Total Geral </b>R$ <span>@ViewBag.TotalGeral</span> </td>
       </tr>
</table>

<div class="paypaldiv">
    <form class="paypalform" action="https://www.sandbox.paypal.com/bn/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="cesar_ags-facilitator@outlook.com">

        @foreach (var item in Model)
        {
            <input type="hidden" name="item_name_@count" value="@item.ProdutoNome">
            <input type="hidden" name="amount_@count" value="@item.Preco">
            <input type="hidden" name="quantidade_@count" value="@item.Quantidade">
            count++;
        }

        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="http://www.sandbox.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>
</div>
    <br />
    <a href="#" class="placeorder btn btn-primary pull-right">Verificar</a>

}
@section Scripts {
    <script>

        $(function () {

            /*
            * Incrementa produto
            */

            $("a.incrementaproduto").click(function (e) {
                e.preventDefault();

                var produtoId = $(this).data("id");
                var url = "/carrinho/IncrementaProduto";

                $.getJSON(url, { produtoId: produtoId }, function (data) {

                    $("td.qtd" + produtoId).html(data.qtd);

                    var preco = data.qtd * data.preco;
                    var priceHtml = "$" + preco.toFixed(2);

                    $("td.total" + produtoId).html(priceHtml);

                    var gt = parseFloat($("td.totalgeral span").text());
                    var totalgeral = (gt + data.preco).toFixed(2);

                    $("td.totalgeral span").text(totalgeral);
                }).done(function (data) {
                    var url2 = "/carrinho/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Decrementa produto
            */

            $("a.decrementaproduto").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var produtoId = $(this).data("id");
                var url = "/carrinho/DecrementaProduto";

                $.getJSON(url, { produtoId: produtoId }, function (data) {
                    if (data.qtd == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        });
                    }
                    else {
                        $("td.qtd" + produtoId).html(data.qtd);

                        var preco = data.qtd * data.preco;
                        var priceHtml = "$" + preco.toFixed(2);

                        $("td.total" + produtoId).html(priceHtml);

                        var gt = parseFloat($("td.totalgeral span").text());
                        var totalgeral = (gt - data.preco).toFixed(2);

                        $("td.totalgeral span").text(totalgeral);
                    }

                }).done(function (data) {
                    var url2 = "/carrinho/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Remove produto
            */

            $("a.removeaproduto").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var produtoId = $(this).data("id");
                var url = "/carrinho/RemoveProduto";

                $.get(url, { produtoId: produtoId }, function (data) {
                    location.reload();
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Place pedido
            */

            $("a.placeorder").click(function (e) {
                e.preventDefault();

                var $this = $(this);

                var url = "/carrinho/PlaceOrder";

                $(".ajaxbg").show();

                $.post(url, {}, function (data) {
                    $(".ajaxbg span").text("Obrigado. Você será redirecionado para o Paypal.");
                    setTimeout(function () {
                        $('form input[name="submit"]').click();
                    }, 2000);
                });
            });

            //////////////////////////////////////////////////////////////

        });

    </script>

}